@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'YekanBakh';
  src: url('~@/assets/fonts/YekanBakh.woff') format('truetype');
}
body{
  font-family: 'YekanBakh', sans-serif;
}
